
  .card {
    overflow-x: auto;
    padding: 10px;
    width: 100%;
    max-width: 100%;
  }

  p-chart {
    width: max-content;
  }

  h2 {
    color: black;
    padding: 10px;
  }

  .month-label {
    color: black;
    padding: 10px;
    font-size: 20px;
  }

  p { 
    color: black;
  }

  .current-month-button {
    padding: 10px;
  }