<p-card header="Reset Your Password" >

    <!-- The form for the user to reset their password. Visible until password reset is successful.-->
    <div [hidden]="resetSuccess">

        <form (ngSubmit)="onSubmit()" #resetForm="ngForm">

            <!-- Input field for the reset token -->
            <div class="form_fields">
                <label for="resetToken">Password Reset Token</label>
                <small>The reset token that was sent to your email</small>
                <input pInputText type="text" id="resetToken" required [(ngModel)]="token" #inputToken="ngModel" placeholder="Reset Token" name="resetField"/>
                
                <!--Conditional error message-->
                @if (submitClicked && (inputToken.invalid || inputToken.pristine)) {
                    <small class="error-msg">Reset token is required.</small>
                }
            </div>

            <!-- Input field for the new password -->
            <div class="form_fields"> 

                <label for="newPassword">New Password</label>
                <small>Must be at least 8 characters</small>
                <input
                    pInputText
                    type="text"
                    id="newPassword"
                    required
                    [minlength]="8"
                    [(ngModel)]="password"
                    #inputPass="ngModel"
                    placeholder="Password"
                    name="passwordField"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
                />
                <small *ngIf="inputPass.errors && inputPass.errors['pattern'] && inputPass.touched" class="error-msg">
                    Password must have at least 8 characters, a number, an uppercase, a lowercase, and a special character.
                </small>
                
                <!--Conditional error messages. Password length error takes precedent-->
                @if (inputPass.hasError('minlength') && inputPass.touched) {
                    <small class="error-msg">Password is too short.</small>
                }
                @else if (submitClicked && (inputPass.invalid || inputPass.pristine)){
                    <small class="error-msg">Password is required.</small>
                }
            </div>

            <br/>

            <!--Conditional error message that will show if the Token is invalid-->
            @if (submitClicked && !resetSuccess) {
                <small class="error-msg">{{ errorMsg }}</small>
            }

            <!-- Button to submit the form -->
            <p-button (click)="onClickSubmit()" label="Submit" [raised]=true type="submit"/>  

        </form>
    </div>

    <!--Success message that is displayed if the user's password reset request is successful-->
    <div [hidden]="!resetSuccess">
        <h3>Success</h3>
        <p>
            Your password has been reset. <br/>
            Please <a routerLink="/login">login <i class="pi pi-arrow-right"></i></a>
        </p>
    </div>
</p-card>
