.error-msg {
    color: var(--red-500, #dc3545);
}

label, small {
    display: block;
    padding-bottom:5px;
}

.form_fields {
    padding-top: 15px;
    padding-bottom: 15px;
}

input {
    width: 300px;
}