/* Center the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 128px);
    // background-color: #f4f4f4; /* Light background */
  }
  
  /* Style the login card */
  .login-card {
    width: 350px;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Style the form fields */
  .p-field {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .p-field label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Make inputs full width */
  input[pInputText] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Add spacing between buttons */
  p-button {
    width: 100%;
    margin-top: 1rem;
  }
  
  .p-button-text {
    margin-top: 0.5rem;
  }
  